@model Medic

<div class="card" style="width:18rem;">
    <div class="card-header">
        @Model.Person.FirstName @Model.Person.LastName
    </div>
    <div class="card-body">
        @if (Model.Specialization != null)
        {<p class="card-text">@Model.Specialization.Name</p>}
        <p class="card-text">@Model.Person.Email</p>
        <p class="card-text">@Model.Person.PhoneNumber</p>
        @if (Model.IsApproved != bool.TrueString)
        {<a asp-action="ApproveMedic" asp-controller="Admin" asp-route-idMedic="@Model.Id" class="btn btn-success">Aprobă</a>}
        <a asp-action="DeleteMedic" asp-controller="Admin" asp-route-idMedic="@Model.Id"
           class="btn btn-danger">Șterge medic</a>
    </div>
</div>
