@model Patient

<div class="card">
    <div class="card-header">
        @Model.Person.FirstName @Model.Person.LastName
    </div>
    <div class="container">
        <div class="float-left">
            <div class="card-body">
                <p class="card-text">@Model.Person.Email</p>
                <p class="card-text">@Model.Person.PhoneNumber</p>
                <button class="btn btn-danger" onclick="deletePatient()" id="btnDeletePatient" data-id="@Model.Id">Șterge pacient</button>
            </div>
        </div>
        <div class="float-right">
            @if (Model.Image != null)
            {<img class="image-card" src="data:@Model.Image.MimeType;base64,@(Convert.ToBase64String(Model.Image._Image))" alt="Image" />}
        </div>
    </div>
</div>

