@model Patient

<div class="card" style="width:18rem;">
    <div class="card-header">
        @Model.Person.FirstName @Model.Person.LastName
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Person.Email</p>
        <p class="card-text">@Model.Person.PhoneNumber</p>
            <a asp-action="DeletePatient" asp-controller="Admin" asp-route-idPatient="@Model.Id"
               class="btn btn-danger">Șterge pacient</a>
    </div>
</div>