@model MedicViewModel

<div>
    @if (Model.Image != null)
    {
        <div class="container">
            <img class="card-img-top profile-img" src="data:@Model.Image.MimeType;base64,@(Convert.ToBase64String(Model.Image._Image))" alt="Image Profil" />
            <a class="btn btn-danger" asp-action="DeleteProfilePicture" asp-controller="Medic" asp-route-idImage="@Model.IdImage" asp-route-idMedic="@Model.Id">Șterge poza de profil</a>
        </div>
    }
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
        <p class="card-text">@Model.Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Data nașterii: @Model.BirthDay</li>
        <li class="list-group-item">Telefon: @Model.PhoneNumber</li>
        <li class="list-group-item">Email: @Model.Email</li>
        <li class="list-group-item">Sex: @Model.Sex</li>
        <li class="list-group-item">Cod Identificare: @Model.IdentificationCode</li>
        <li class="list-group-item">Colegiul Medicilor: @Model.MedicalCollegeYear</li>
        @if (Model.Specialization != null)
        {
            <li class="list-group-item">Specializare: @Model.Specialization.Name</li>
        }
        <li class="list-group-item">Spital: @Model.Hospital</li>
        <li class="list-group-item">Competente: @Model.Abilities</li>
        <li class="list-group-item">Studii: @Model.Education</li>
    </ul>
</div>