@model Guid

<nav class="navbar navbar-light navbarcustom">
    <a class="navitems" asp-controller="Patient" asp-action="Profile" asp-route-idPatient="@Model"><p>PROFIL</p></a>
    <a class="navitems" asp-controller="Patient" asp-action="Portfolio" asp-route-idPatient="@Model"><p>DOSAR</p></a>
    <a class="navitems" asp-controller="Patient" asp-action="Medicines" asp-route-idPatient="@Model"><p>MEDICAMENTE</p></a>
    <a class="navitems" asp-controller="Patient" asp-action="Medics" asp-route-idPatient="@Model"><p>MEDICI</p></a>
    <a class="navitems" asp-controller="Patient" asp-action="Appointments" asp-route-idPatient="@Model"><p>PROGRAMĂRI</p></a>
</nav>
